body {
  background-color: silver;
}

.FilmBox {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width:50%;
  margin: auto;
  padding: 10px;
  margin-top: 100px;
  background-color: rgb(11, 82, 82);
}

hr {
  width:100%;
}

.FilmList {
  text-align: center;
  list-style: none;
  font-size: 20px;
  padding: 15px;
}

.FilmLink {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

.ListItem {
  padding: 10px;
}

h3{
  text-align: center;
}

.MoreLink {
  background-color: white;
  padding: 10px;
  color: rgb(11, 82, 82);
  text-align: center;
  text-decoration: none;
}
